.sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 300px;
    background-color: var(--sidebar-bg);
    border-right: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.sidebar-header h2 {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 500;
}

.clear-history{
    background-color: var(--btn-bg);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--btn-text);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}

.clear-history:hover{
    background-color: var(--btn-hover);
}
